@model IEnumerable<BetterLife.Domain.Entities.Photo>

<link rel="stylesheet" type="text/css" href="/Content/reset.css">
<link rel="stylesheet" type="text/css" href="/Content/main.css">
<script src="/Scripts/jquery.js"></script>
<script src="/Scripts/main.js"></script>
<link rel="stylesheet" href="/Content/bootstrap.min.css" type="text/css" />
<script type="text/javascript" src="/Scripts/jquery.js"></script>
<script type="text/javascript" src="/Scripts/main.js"></script>
<script src="/Scripts/jquery.validate.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
<script src="/Scripts/angular.js"></script>
<script src="/Scripts/bootstrap.js"></script>

@if (Model != null)
{
    foreach (var photo in Model)
    {
   
            <div class="work">
                <a href="inner.html">
                    <img src="@Url.Action("ShowPhoto","Photo",new {photo.DataId})" class="media" alt="" width="466" height="466" />
                    <div class="caption">
                        <div class="work_title">


                        </div>
                    </div>
                </a>
            </div>
   
    }
}

